@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Jersey 15", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
}

.button {
  padding: 20px;
  width: 66px;
  margin: 0 3px;
  border: 2px solid brown;
  border-radius: 9px;
  cursor: pointer;
}

.row {
  margin: 8px 0;
}

.row input {
  margin: 0;
  padding: 6px 40px;
  width: 200px;
  height: 20px;
  border: 2px solid blue;
  border-radius: 5px;
}
